nav {
    text-align: center;
    font-size: 25px;
    border: 15px solid yellow;
    
}

body {
    background-color: rgb(0, 4, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 75px;
}

p {
    color: rgb(255, 255, 255);
    margin-left: 22%;
    margin-right: 22%;
    text-align: center;
    font-size: 25px;
}

li {color: white;
}

.indexPicture {
    border: 3px solid yellow;
    border-radius: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content .photoGallery {
    height: 550px;
    width: 550px;
    overflow: hidden;
}
.photoGallery img{
    height: 100%;
    width: 100%;
}

.content .slide{
    position: absolute;
    top: 95%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.content .slide:hover{
    background: rgba(255, 255, 255, 0.8);
}

.slide span{
    font-size: 35px;
    color: white;
    line-height: 41;
}

.content .right{
    right: 0;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
}